<%- include('../../partials/header') -%>
<%- include('../../partials/navbar') -%>
<link rel="stylesheet" href="/css/style.css">

<div class="container">
    <hr>
    <h2 class="titulo">Artigos</h2>
    <a class="btn  btn_criar" href="/admin/articles/new">Criar novo artigo</a>
    <hr>

    <table class="table  tabela">
        <thead>
            <tr>
                <th class="center">Id</th>
                <th class="center">Títulos</th>
                <th class="center">Slug</th>
                <th class="center">Categoria</th>
                <th class="center">Ações</th>
            </tr>
        </thead>

        <tbody>
            <% articles.forEach(article =>{ %>
                <tr>
                    <td class="center"><%= article.id%></td>
                    <td class="center"><%= article.title%></td>
                    <td class="center"><%= article.slug%></td>
                    <td class="center"><%= article.category.title%></td>
                    <td class="center"> 

                        <form method="POST" action="/articles/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= article.id%>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>

                        <!-- fazer um link para editar -->
                        <form method="POST" action="/admin/articles/edit/:id" style="display: inline;" onsubmit="confirmarEdicao(event, this)">
                            <input type="hidden" name="id" value="<%= article.id%>">
                            <button class="btn btn-primary">Editar</button>
                        </form>

                    </td>
                </tr>
                
            <% }) %>
           

        </tbody>
        
    </table>

</div>

<%- include('../../partials/footer') -%>

<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        console.log("O formulario não foi enviado")
        var decision = confirm("Você quer deletar este artigo?")
        if(decision){
            form.submit();

        }else{
            console.log("não quero deletar")
        }
    }


    function confirmarEdicao(event, form){
        event.preventDefault();
        console.log("O formulario não foi enviado")
        var decision = confirm("Você quer Editar este artigo?")
        if(decision){
            form.submit();

        }else{
            console.log("não quero editar")
        }
    }
</script>