<%- include('../../partials/header') -%>
<%- include('../../partials/navbar') -%>
<link rel="stylesheet" href="/public/css/style.css">


<div class="container">
    <hr>
    <div class="card">
                    <div class="card-header">
                        <h2>Novo Artigo</h2>
                    </div>
    
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" action="/article/save">
                <input class="form-control" type="file" name="file">
                <input class="form-control" type="text" name="title" placeholder="Defina o título do Artigo"><br>
                <textarea class="form-control" name="body" id="article" cols="30" rows="5" placeholder="Escreva o artigo aqui" ></textarea>
                <label for="">Categoria</label>
                <select name="category"  class="form-control">
                    <% categories.forEach((category) =>{ %>
                        <option value="<%=category.id%>"><%= category.title %></option>
                    <% }) %>   
                </select>
                <br>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div> 
</div>
</div>

<%- include('../../partials/footer') -%>

<script src="/tinymce/js/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        plugins: [
                    'advlist',
                    'autolink',
                    'link',
                    'image',
                    'lists',
                    'preview',
                    'searchreplace',
                    'wordcount',
                    'fullscreen',
                    'insertdatetime',
                    'media',
                    'save',
                    'table',
                    'emoticons',
                ]
        
    })
</script>