
<%- include('partials/header') -%>
<%- include('partials/homenavbar') -%>

<link rel="stylesheet" href="/css/style.css">

<body>
    
    
    <div  class=" capa_index row justify-content-center" >
        <% for(let i = 0; i < 1; i++){ %>
    
            
                <a href="/<%= articles[0].slug %>"><img class="capa" src="data:image/png;base64,<%= articles[0].capa_artigo %>" alt="" srcset=""></a>

            
            <p><%= articles[0].title%></p>
            
            
        <% } %>
    
    </div>

    <div class="container">
        
        <hr>

        <div class="container ">
            
            <div class="row   ">

                <% articles.forEach(article =>{ %>
                    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        
                        <img class="  card-img-top imagem_capa" src="data:image/png;base64,<%= article.capa_artigo%> " alt="Embedded Image">

                        <div class="card mb-5 shadown-sm " >
    
                            <div class="card-body">

                                <div class="card-title">
                                    <h2><%= article.title %></h2> 
                                </div>

                            
                                <a class="btn btn-success float-end" href="/<%= article.slug %>">Ler artigo</a>
                            </div>
                        </div>
                    </div>   
                <% }) %>
            </div>

        </div>

        <!-- <div class="row">
            
            <div class="col col-12">
                <a style="float:right" href="/articles/page/2">Next >>></a>
                
            </div>
            <hr>
        </div>
        <hr> -->


    </div>
    
</body>

<%- include('partials/footer') -%>