
<%- include('partials/header') -%>
<%- include('partials/homenavbar') -%>

<link rel="stylesheet" href="/css/style.css">

<body>
    <div class="container mt-2">
        <div class="jumbotron form-control bg-light">
            <h1 class="display-4">Bem vindo!</h1>
            <p class="lead">Este blog é um projeto para fins de estudo.</p>
            <hr class="my-4">
            <p>Utilizando a linguagem Node.Js.</p>
           
        </div>

        <hr>

        <div class="container ">
            <div class="row justify-content-center">

                <% articles.forEach(article =>{ %>
                    
                    
                    <div class="card col-3 m-2" >
                        <div>
                            <img class="card-img-top" src="<%= article.capa_artigo%>" alt="Card image cap">
                        </div>
                        <div class="card-header">
                            <h2><%= article.title %></h2> 
                        </div>
        
                        <div class="card-body">
                            <a class="btn btn-success" href="/<%= article.slug %>">Ler artigo</a>
                        </div>
                    </div>
                    <br>

                    
                    
                <% }) %>
            </div>

        </div>

        <!-- <div class="row">
            
            <div class="col col-12">
                <a style="float:right" href="/articles/page/2">Next >>></a>
                
            </div>
            <hr>
        </div>
        <hr> -->


    </div>
    
</body>

<%- include('partials/footer') -%>