
<%- include('partials/header') -%>
<%- include('partials/homenavbar') -%>

<link rel="stylesheet" href="/css/style.css">

<body>
    

    
    
    <div class="container-md">
        <% if (success) { %>
            <div class="alert alert-success"><h2><%= success %></h2></div>
            
        <% } %>

      
        <div  class=" capa_index row justify-content-center" >
            <% for(let i = 0; i < 1; i++){ %>
        
                
                    <a href="/<%= articles[0].slug %>"><img class="capa" src="data:image/png;base64,<%= articles[0].capa_artigo %>" alt="" srcset=""></a>
    
                    <div>
                        
                        <a  href="/<%= articles[0].slug %>"><p ><%= articles[0].title%></p></a>
                    </div>
                
                
                
            <% } %>
            
        </div>
      
        <hr>


        <h2 class="ultimos_artigos container ">Ultimos artigos</h2>
        <div class="container main">
            
            <div class="row   ">

                <% articles.forEach(article =>{ %>
                    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        
                        <img class="  card-img-top imagem_capa" src="data:image/png;base64,<%= article.capa_artigo%> " alt="Embedded Image">

                        
                        <div class="card card-body  mb-5 shadown-sm " >
    
                            <div class="card-body ">

                                <div class="card-title">
                                    <h2><%= article.title %></h2> 
                                </div>

                            
                                <a class="btn btn-success float-end" href="/<%= article.slug %>">Ler artigo</a>
                            </div>
                        </div>
                    </div>   
                <% }) %>
            </div>

        </div>

        <!-- <div class="row">
            
            <div class="col col-12">
                <a style="float:right" href="/articles/page/2">Next >>></a>
                
            </div>
            <hr>
        </div>
        <hr> -->


    </div>
    
</body>

<footer>

    <div >
        <%- include('partials/footer') -%>
    </div>

</footer>
